* {
	margin: 0;
}

html, body {
	height: 100%;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@media  (min-width : 50px){
    html{ font-size : 10px;} 
}

@media  (min-width : 600px){
    html{ font-size : 15px;} 
    
}
 
@media  (min-width : 1024px) {
    html{ font-size : 17px;} 

    .subSection .grid .row .col-4 .col .studentPic img {
		width: 300px;
		height: 300px;
	}
}

h1, h2, h3 ,h4, h5, h6, p {
	margin-bottom: 20px;
}

nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 999;
}

nav ul {
	position: absolute;
	left: 50%;
	width: 600px;
	margin-left: -300px;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-left: 30px;
	line-height: 50px;
	
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-family: "メイリオ","Arial","Verdana", "ヒラギノ角ゴ Pro W3", "ＭＳ ゴシック", "Osaka‐等幅";
}

.dropDown img {
		display: none;
	}

@media screen and (max-width: 480px){

	.dropDown {
		display: block;
		height: 50px;
	}

	.dropDown img {
		display: block;
		position: absolute;
		left: 85%;
		width: 30px;
		height: 30px;
		margin: 10px 10px;
		cursor: pointer;
	}

	nav ul {
		display: none;
		left: 0%;
		margin-left: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.65);
	}

	nav ul li {
		display: block;
	}

	nav ul.open {
		display: initial;
	}

	.subSection .grid .row .col-4 .col .studentPic img {
		width: 150px;
		height: 150px;
	}

}

.sect {
	height: 100%;
	background-size: cover;
	background-attachment: fixed;

	position: relative;
}

.subSection {
	height: 70%;
}

.subSection {
	background-color: #191919;
	position: relative;
}

.studentPic img {
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	box-shadow: 0px 0px 10px 3px #888888;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/*setting up modal window*/
[id*='modal-content-']{
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	width:auto;
	margin:1.5em auto 0;
	/*padding:10px 20px;*/
	border:2px solid #aaa;
	background:#fff;
	z-index:9999;

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#modal-contentHeader {
	position: relative;
	top: 0;
	left: 0;
	background-color: #232323;
	margin: 0 0 10px 0;
	padding: 5px 10px 0px 10px;

}

#modal-contentHeader p {
	color: white;
	font-size: 1em;
	font-family: "メイリオ","Arial","Verdana", "ヒラギノ角ゴ Pro W3", "ＭＳ ゴシック", "Osaka‐等幅";

}

[id*='modal-content-'] img {
	position: relative;
	left: 50%;
	width: 300px;
	height: 300px;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.button-link{
	color:#00f;
	text-decoration:underline;
}
 
.button-link:hover{
	cursor:pointer;
	color:#f00;
}

.modal-open {
	color: #FF1493;
}

#modal-overlay {
	display: none;
	z-index: 9998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background-color: rgba(0,0,0,0.75);
}

.sect p {
	position: absolute;
	color: white;
	font-family: "メイリオ","Arial","Verdana", "ヒラギノ角ゴ Pro W3", "ＭＳ ゴシック", "Osaka‐等幅";
	left: 50%;
	top: 30%;
	width: 550px;
	margin-left: -275px;
	text-align: center;
}

.col-6 .col p {
	position: absolute;
	padding: 25px;
	top: 50%;
	color: white;
	text-align: left;
	-webkit-transform: translate(0, -60%);
	-moz-transform: translate(0, -60%);
	-ms-transform: translate(0, -60%);
	-o-transform: translate(0, -60%);
	transform: translate(0, -60%);
}

.col-4 .col .backArrow img {
	position: absolute;
	top: 80%;
	left: 20%;
	width: 70px;
	height: 70px;
}

.col-4 .col .backArrow img:hover {
	background-color: #00FFFF;
	border-radius: 50%;
}

.col-6 .col .nextArrow img {
	position: absolute;
	top: 80%;
	left: 70%;
	width: 70px;
	height: 70px;
}

.col-6 .col img:hover {
	background-color: #00FFFF;
	border-radius: 50%;
}



/*setting up grid*/
.grid {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}

.row {
	height: 100%;
	
}

.grid:before,
.grid:after,
.grid:before,
.grid:after {
	content: " ";
	display: table;
}

.grid:after,
.row:after {
	clear: both;
}

[class*='col-']{
	width: 100%;
	float: left;
	min-height: 1px;
}

.col-4 {width: 33.33333%; height: 70%;background: #191919;}

.col-6 {width: 66.66666%; height: 100%;background: #191919;}

.subSection .col-4 {
	height: 100%;
}

.row .col-4:nth-child(3){
	background: #151515;
}

.col-12{
	width: 100%;
	height: 30%; 
	background: #232323;
}

.col {
	position: relative;
	height: 100%;
	padding: 20px;
	text-align: center;
	font-family: "メイリオ","Arial","Verdana", "ヒラギノ角ゴ Pro W3", "ＭＳ ゴシック", "Osaka‐等幅";
}

#topSection .grid .row .col-4 .col img {
	width: 70px;
	height: 70px;
}

.sect1 {
	background-image: url("http://chutai-ryugaku-report.info/wp-content/uploads/2015/01/woman-670130_1920.jpg");
}

.sect2 {
	background-image: url("http://chutai-ryugaku-report.info/wp-content/uploads/2015/01/university-470184_1280.jpg");
}

.sect3 {
	background-image: url("http://chutai-ryugaku-report.info/wp-content/uploads/2015/01/university-418223_1920.jpg");
}

.sect4 {
	background-image: url("http://chutai-ryugaku-report.info/wp-content/uploads/2015/01/university-of-iowa-1808151_1280.jpg");
}

.sect5 {
	background-image: url("http://chutai-ryugaku-report.info/wp-content/uploads/2015/01/purdue-university-1848563_1280.jpg");
}